<?xml version="1.0" ?>
<!--
/**
 * Copyright © 2021 RelayPay Development Inc. All rights reserved.
 * See LICENSE for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="relaypay" id="relaypay">
            <module name="Relaypay_Payment"/>
        </route>
    </router>
</config>