<?xml version="1.0"?>
<!--
/**
 * Copyright © 2021 RelayPay Development Inc. All rights reserved.
 * See LICENSE for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="relaypay" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>RelayPay</label>
                <!-- Enable or disable payment method -->
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <!-- Title -->
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <!-- Environment Sandbox / Production (live) -->
                <field id="environment" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Environment</label>
                    <source_model>RelayPay\Payment\Model\Config\Source\Environment</source_model>
                    <config_path>payment/relaypay/environment</config_path>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <!-- Merchant ID for Sandbox -->
                <field id="relaypay_sandbox_merchant_id" translate="label" sortOrder="40" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Merchant ID (Sandbox) </label>
                    <depends>
                        <field id="environment">sandbox</field>
                        <field id="active">1</field>
                    </depends>
                </field>
                <!-- Public key for Sandbox-->
                <field id="relaypay_sandbox_public_key" translate="label" sortOrder="50" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Public Key (Sandbox) </label>
                    <depends>
                        <field id="environment">sandbox</field>
                        <field id="active">1</field>
                    </depends>
                </field>
                <!-- Secret key for Sandbox -->
                <field id="relaypay_sandbox_secret_key" translate="label" sortOrder="60" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Secret Key / Private Key (Sandbox) </label>
                    <depends>
                        <field id="environment">sandbox</field>
                        <field id="active">1</field>
                    </depends>
                </field>
                <!-- Merchant ID for Production -->
                <field id="relaypay_production_merchant_id" translate="label" sortOrder="70" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Merchant ID (Production) </label>
                    <depends>
                        <field id="environment">production</field>
                        <field id="active">1</field>
                     </depends>
                </field>
                <!-- Public key for Production -->
                <field id="relaypay_production_public_key" translate="label" sortOrder="80" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Public Key (Production) </label>
                    <depends>
                        <field id="environment">production</field>
                        <field id="active">1</field>
                     </depends>
                </field>
                <!-- Secret key for Production -->
                <field id="relaypay_production_secret_key" translate="label" sortOrder="90" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Secret Key / Private Key (Production) </label>
                    <depends>
                        <field id="environment">production</field>
                        <field id="active">1</field>
                     </depends>
                </field>
                <!-- Api URL for Sandbox -->
                <field id="cgi_url_sandbox" translate="label" sortOrder="100" type="text" showInDefault="0" showInWebsite="1" showInStore="0">
                    <label>Api URL (Sandbox)</label>
                    <depends>
                        <field id="active">1</field>
                        <field id="environment">sandbox</field>
                    </depends>
                     <comment><![CDATA[Sandbox api url : https://sandbox-api.relaypay.io/]]></comment>
                </field>
                <!-- Api URL for Production -->
                <field id="cgi_url_production" translate="label" sortOrder="110" type="text" showInDefault="0" showInWebsite="1" showInStore="0">
                    <label>Api URL (Production)</label>
                    <depends>
                        <field id="active">1</field>
                        <field id="environment">production</field>
                    </depends>
                    <comment><![CDATA[Production api url : https://api.relaypay.io/]]></comment>
                </field>
                <field id="allowspecific" translate="label" sortOrder="130" type="allowspecific" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Payment From Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="specificcountry" translate="label" sortOrder="140" type="multiselect" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Payment From Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
